*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 1600px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
/* зачистка флоута */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* навигация */
.page_nav{
    padding-top: 35px;
    padding-bottom: 33px;
}
.logo{
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    line-height: 32px;
    font-weight: lighter;
    color: #555252;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo::first-letter{
    color: #1abc9c;
    font-weight: bold;
}
.list_item{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 6px;
}
.list_item li {
    float: left;
    margin-right: 35px;
}
.list_item_menu:last-child{
    margin-right: 0;
}
.list_item_menu a{
    display: block;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.list_item_menu a:hover {
    color: #62cab2;
}

/* секция слайдера */

.sliders{
    position: relative;
    margin: 0 auto;
    background-color: #e9f0fd;
    height: 600px;
}
.slides_menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides_item{
    margin: 0;
    padding: 0;
}
.figcaption{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.figcaption h2{
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 82px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-bottom: 11px;
}
.figcaption p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 54px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.slide_prev, .slide_next{
    padding: 0;
    margin: 0;
    border: none;
    background-image: ;
    background-color: #54a290;
    opacity: 0.65;
    box-sizing: border-box;
    font-family: "Pe-icon-7-stroke";
    font-size: 100px;
    color: #ffffff;
    position: absolute;
    width: 104px;
    height: 104px;
    top: 50%;
    transform: translateY(-50%);
}
.slide_prev:hover,
.slide_next:hover{
    opacity: 1;
}

.slide_prev{
    left: 245px;
}
.slide_next{
    right: 245px;
}

/* секция NEW COLLECTION */
.new_collection{
    background-color: #e9f0fd;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
/* заголовок */
.container > h2{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    text-transform: uppercase;
    margin-bottom: 80px;
}

/* полоса под заголовком */
.container > h2::after{
    display: block;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    content: "";
    margin: 0 auto;
    margin-top: 32px;
}
/* список карточек */
.cards{
    margin: 0 auto;
    padding: 0;
    }
/* карточка */
.card-item{
    list-style: none;
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 30px;
    position: relative;
}

.card-item:last-child{
    margin-right: 0;
}
/* ссылка при нажатии на карточку */
.buy_prod{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.card-item:hover .name_product{
    background-color: #1abc9c;
}
.card-item:hover .cost{
    background-color: #7fd9c7;
}
.card-item:hover .link_menu{
    opacity: 1;
}

/* абзац с названием товара */
.name_product{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #323232;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    padding-top: 3px;
    padding-left: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* абзац с ценой товара */
.cost{
    margin: 0;
    padding: 0;
    width: 55px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    background-color: #8c8c8c;
    height: 40px;
    padding-left: 13px;
    box-sizing: border-box;
    padding-top: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cost::before{
    content: "\0024";
}

/* меню ссылок от ховера */

.link_menu{
    background-color: rgba(115, 115, 115, 0.55);
    width: 235px;
    height: 262px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 10;
    
}

.links{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;

}
.links li{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 9px;
    margin-bottom: 8px;
}
.links li:first-child{
    margin-left: 35px;
}

.heart, .arrows, .clock{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pe-icon-7-stroke";
    font-size: 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.basket{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Pe-icon-7-stroke";
    font-size: 30px;
    color: #ffffff;
    background-color: #323232;
    border: 1px solid #ffffff;
    width: 166px;
    height: 50px;
    
}

/* .basket::before{
    display: inline-block;
    width: 30px;
    height: 30px;
    content: '';
    vertical-align: middle;
    background-image: url(..//img/kisspng-heart-symbol-computer-icons-clip-art-5af240079be064.0108098515258255436385.png);
    background-size: 30px;
    background-repeat: no-repeat; */

.basket span{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 32px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
    vertical-align: middle;

}

.heart:hover, .arrows:hover, .clock:hover, .basket:hover{
    background-color: #1abc9c;
}

/* футер */
footer{
    padding: 32px 0 32px 0;
    background-color: #323232;
    text-align: center;
    color: #e3e3e3;
}

footer > p{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

footer > p > span{
    color: #45b6a1
}
