.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: blue;
    margin-bottom: 5px;

}

main{
    width: 100%;
    height: 300px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.big{
    width: 54.1%;
    height: 100%;
    background-color: blueviolet;
    
}

.small-one{
    width: 20.8%;
    height: 100%;
    background-color: burlywood;
}

.small-two{
    width: 20.8%;
    height: 100%;
    background-color: chartreuse;
}

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: crimson;
}