html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
}

body {
    font-family: Playfair Display;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%)
    clip:rect(0 0 0 0);
    overflow: hidden;
}

nav{
    margin-bottom: 98px;
    margin-top: 77px;
}

.site_navigation {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
}

.site_navigation li {
    display: inline-block;
    text-transform: uppercase;
    color: #626262;
}

.site_navigation li:nth-child(1){
    margin-right: 123px;
}

.site_navigation li:nth-child(2){
    margin-right: 103px;
}

.site_navigation li:nth-child(3){
    margin-right: 95px;
}

.site_navigation li:nth-child(4){
    margin-right: 0;
}

.site_navigation a:hover,
.site_navigation a:focus {
    color: #03a9f4;
}

a{
    text-decoration: none;
    color: #626262;
}

.list {
    font-size: 0;
}

.life {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 420px;
    height: 475px;
    margin-bottom: 130px;

}

.life:not(:nth-child(2n+1)) {
    margin-right: 50px;
}

div {
    margin-bottom: 25px;
}

span{
    font-size: 14px;
    font-family:  Ubuntu;
    color: #b4ad9e;
}

p{
    font-size: 14px;
    line-height: 24px;
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    color: #626262;
    margin-bottom: 33px;
}

button {
    width: 164px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    border: 1px solid #626262;
    background-color: #ffffff;
    margin-bottom: 70px;
    margin-top: 52px;
    margin-left: 361px;
}

