font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;



*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.navigation{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 128px;
}

a{
    display: block;
}

.link_logo{
    text-decoration: none;
    font-size: 30px;
    font-family: "Montserrat";
    color:#95e1d3;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2;
    
}

.main_menu{
    flex-basis: 491px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
   
}

.item{
    position: relative;
}

.item a{
    font-size: 14px;
    font-family: "Montserrat";
    color: #95e1d3;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
}

.item a::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    margin-top: 12px;
    opacity: 0;
}

.item a:hover::after{
    transition: opacity 200ms linear;
    opacity: 1;
}
.item a:hover{
    transition: color 200ms linear;
    color: #f38181;
}

/* секция amazing_services*/

.amazing_services{
    padding-bottom: 100px;
}

.work_with{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 60px;
}

.work_with span{
    display: block;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    padding-bottom: 16px;
}

.work_with::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;

}

.work_type{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.work_item{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 380px;
    position: relative;
    padding-left: 80px;
    padding-bottom: 100px;
}

.work_item:nth-last-child(-n+3){
    padding-bottom: 0;
}

.work_item::before{
    content: '';
    position: absolute;
    
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 20px;
    width: 35px;
    height: 35px;
}

.alarm::before{
    background-image: url(../img/ALARM.png);
}
.line_graph::before{
    background-image: url(../img/LINE\ GRAPH.png);
}
.computer::before{
    background-image: url(../img/COMPUTER\ _\ OK.png);
}
.books::before{
    background-image: url(../img/BOOK\ 2.png);
}
.home::before{
    background-image: url(../img/HOME.png);
}
.image::before{
    background-image: url(../img/IMAGE.png);
}

.item_name{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 14px; 
}

.work_about{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
}


/* секция meet_our_team*/

.meet_our_team{
    padding-bottom: 80px;
}


.who_we_are{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 40px;
}

.who_we_are span{
    display: block;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    padding-bottom: 16px;
}

.who_we_are::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.text{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    padding-bottom: 90px;
}

.team{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.team_item{
    margin: 0;
    padding: 0;
    width: 380px;
    position: relative;
}


.image{
    position: relative;
    z-index: 1;
}

.hover{
    width: 100%;
    height: 470px;
    background-image: linear-gradient( to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 200ms linear;
}

.socials{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 223px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social_item{
    width: 55px;
    height: 55px;
    opacity: 1;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

.facebook{
    background-image: url(../img/facebook.png);
}
.twitter{
    background-image: url(../img/twitter.png);
}
.pinterest{
    background-image: url(../img/pinterest.png);
}
.instagram{
    background-image: url(../img/instagram.png);
}

.social_item:hover{
    transition: background-color 200ms linear;
    background-color: #95e1d3;
}

.hover:hover{
    opacity: 1;
}

.image:hover{
    transition: transform 200ms linear;
    transform: translate(-10px,-10px);
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
}


.name_worker{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 10px;
}

.professional {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
   
  }

/* футер */

.down_menu{
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px #e5e5e5;
}

.template_by{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1.2;
}

.template_by span{
    color: #f6a1a1;
}

input{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
}

input::placeholder{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
}

button{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    background-color: rgb(149, 225, 211);
    border: none;
    color: #f2fbf9;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: -4px;
}

