*,
*::before,
*::after{
    box-sizing: inherit;
}
/* leckerli-one-regular - latin */
@font-face {
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    src: local('Leckerli One'), local('LeckerliOne-Regular'),
         url('../fonts/leckerli-one-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/leckerli-one-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* noto-serif-regular - latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif'), local('NotoSerif'),
         url('../fonts/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 128px;
}

a{
    display: block;
}

.link_logo{
    text-decoration: none;
    font-size: 26px;
    color:#222222;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 41px;
    font-family: 'Leckerli One';
}

.link_logo:hover{
    color: #fed136;
}

.main_menu{
    flex-basis: 485px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
   
}

.item a{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    line-height: 41px;
    text-decoration: none;
}
    
.item a:hover{
    color: #fed136;
}

/* Секция сервис */

.services_title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services_about{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Noto Serif';
    color: rgb(119, 119, 119);
    font-style: italic;
    text-transform: initial;
    margin-bottom: 75px;
}

.service_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.service_list_item{
    width: 290px;
    text-align: center;
}

.service_list_item::before{
    text-align: center;
    display: inline-block;
    width: 73px;
    height: 73px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #fed136;
    border-radius: 50%;
}

.service_list_item:nth-child(1)::before{
    background-image: url(../img/Icon-Basket.png);
}

.service_list_item:nth-child(2)::before{
    background-image: url(../img/Icon-Laptop.png);
}

.service_list_item:nth-child(3)::before{
    background-image: url(../img/Icon-Locked.png);
}

.service_list_item-title{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;  
    line-height: 75px;      
}

.service_list_item-about{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
}

.services{
    padding-bottom: 120px;
}

/* футер */
.footer{
    background-color: rgb(34, 34, 34);
    padding-bottom: 50px;
}

.contain{
    background-image: url(..//img/Map_Image.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right 150px;
}

.contact_us-title{
    margin: 0;
    padding: 0;
    padding-top: 110px;
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.contact_us_about{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Noto Serif";
    color: #656565;
    font-style: italic;
    text-transform: initial;
    margin-bottom: 75px;
}

.contact_us{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.your_data_list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.your_data_list_item{
    width: 455px;
}

.your_data_list_item input{
    box-sizing: border-box;
    width: 455px;
    height: 52px;
    margin-bottom: 27px;
    border: none;
    border-radius: 5px;
}

.your_data_list_item input::placeholder{
    padding: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2; 
}

.your-name:valid{
    outline: 2px solid green;
    outline-offset: -2px;
}
.your-name:invalid{
    outline: 2px solid red;
    outline-offset: -2px;
}

.your-email:valid{
    outline: 2px solid green;
    outline-offset: -2px;
}

.your-email:invalid{
    outline: 2px solid red;
    outline-offset: -2px;
}

.contact_us textarea{
    box-sizing: border-box;
    width: 455px;
    height: 210px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact_us textarea::placeholder{
    padding: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;   
}

.contact_us textarea:valid{
    outline: 2px solid green;
    outline-offset: -2px;
}
.contact_us textarea:invalid{
    outline: 2px solid red;
    outline-offset: -2px;
}


.contact_us button{
    width: 240px;
    height: 65px;
    background-color: #999393;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin: auto;
    cursor: pointer;
}

.contact_us > button:hover{
    background-color: #fed136;
}