/* .box {
    background: #080;
    display: inline;
}

.inline{
    background: #008;
    color: snow;
    display: block;
} */
/* *{
    outline: 1px solid red;
}

.body {
    background: #ccc;
    font-family: sans-serif;
}
.block{
    background-color: #0f0;
    height: 100px;
    width: 100px;
    margin: 100px;
    overflow: hidden;
    /* margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px; */
    /* padding: 100px; */
    /* border: red solid 100px; */
    /* border: red dotted 100px; */
    /* background: darkgreen;
    text-transform: uppercase;
}

.box{
    background: #00d;
} */ 



